<style>
      .inputs 
      {
            border-radius: 2rem;
            height: 2.9rem;
            padding-left: 1rem;
            /* border: solid 1px rgba(152, 152, 152, 0.733) !important;  */
      }
      label 
      {
            font-size: 12px;
            color: rgb(156, 156, 156);
            margin-left: 0.5rem;
      }
</style>
<div class="background-containers " id="bg-con">
      <div class="contents">
            <div id="search-div" class="p-2  d-none   justify-content-center  flex-wrap w-100" 
            style="margin: 0 auto; margin-top: 10rem; max-width: 30rem; ">

                  <div>
                        <span onclick="Alternar()" class='rounded-circle bg-white bg-opacity-10  border-0 mt-2 text-white d-flex justify-content-center align-content-center flex-wrap' style='height: 2rem; width: 2rem;'> 
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left p-0 m-0" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                              </svg> 
                        </span>

                  </div>
            </div>
          <!-- Aquí va el contenido -->
          <div id="form-div" class="p-2 rounded-5   d-flex justify-content-center  flex-wrap w-100" 
            style="margin: 0 auto; margin-top: 10rem; max-width: 30rem; ">
            <div class="w-100 text-center mb-3" style="line-height: 14px; ">
                  <h4 class="font-primary text-center mt-4 mb-1 " 
                        style="font-size: 16px;">
                        Informacion personal 
                  </h4>
                  <span style="font-size: 14px; " class="text-white-50">
                        Si el usuario fue anteriormente registrado puedes buscarlo 
                  </span>
            </div>
            <div class="w-100 d-flex  justify-content-center "> 
                  <div class="d-flex  w-100  p-2 rounded-5 flex-wrap justify-content-center " 
                  style="max-width: 30rem;">
      
                  <div class="form-floatings  w-100">
                        <label for="id_name" class="w-100">Nombre y apellidos</label>
                        {{form.name}}
                  </div>   
                        
                  <!-- <div class=" mb-1   m-0 mt-1 w-100  justify-content-start d-flex text-start flex-wrap">
                        <label for="contact-method" style="">Metodo de contacto, se usara para para su notificacion de su cita</label>
                        <select id="contact-method" class="form-select m-0 w-100 ms-3 p-0 bg-transparent text-white border-0" 
                        style="outline: none !important; width: 100%; font-weight: bold;">
                            <option value="email" selected>Correo electrónico</option>
                            <option value="number">Número de teléfono</option>
                        </select>
                  </div> -->
                  <div  class="w-100 mt-1 d-flex" id="email">
                          
                          <div id="email-container" class="form-floatings  w-100">
                              <label for="id_email" class="w-100">Correo electrónico</label>
                              {{ form.email }}
                          </div>
                          
                         <div id="number-container" class="form-floatings ms-1 w-100 ">
                              <label for="id_number" class="w-100">Número de teléfono</label>
                              {{ form.number }}
                          </div> 
                          <style>
                              .d-none {
                        display: none !important;
                        }
                        </style>
                        <script>
                              document.getElementById('contact-method').addEventListener('change', function () {
                                    const selectedMethod = this.value;

                                    // Contenedores de los campos
                                    const emailContainer = document.getElementById('email-container');
                                    const numberContainer = document.getElementById('number-container');

                                    // Alternar visibilidad
                                    if (selectedMethod === 'email') {
                                          emailContainer.classList.remove('d-none');
                                          numberContainer.classList.add('d-none');
                                    } else if (selectedMethod === 'number') {
                                          emailContainer.classList.add('d-none');
                                          numberContainer.classList.remove('d-none');
                                    }
                                    });
                          </script>
                  </div>
      
                  <div  class="w-100 mt-2" >
                     
                  </div>
            </div>
            </div>
          
            <span class=" d-flex justify-content-end text-center    me-1 mt-2 w-100">
                  <span  onclick="ensureNotBothHidden()" class=" text-center text-white-50 mt-2  me-3 d-flex justify-content-center btn-atras" 
                  style="cursor: pointer;">


                       <strong>
                            Atras
                      </strong>

              </span>  
                  <button id="btn-send" type="submit" 
                  style="
                  border-radius: 1.5rem; height: auto;
                  width: 10rem;" class="text-white reloj-btn p-2 border-0 d-none bg-white bg-opacity-10">Confirmar</button>
               
            </span>
            {% if service_admin %}

            <!-- <div class="w-100 text-center mt-3 mb-5">
                  <a href="{% url "citas:administrations-citas" %}"> 
                        <span class='text-white-50 border-0 bg-transparent font-primary'>
                              Atras
                        </span>      
                  </a>
            </div> -->
      {% else %}
      <div class='d-flex justify-content-center mb-5 mt-3'>
            <a href="{% url "citas:dashboard-citas" %}"> 
                  <span class='text-white-50 border-0 bg-transparent m font-primary'>
                        Atras
                  </span>      
            </a>
      </div>
      {% endif %}


      </div>
      </div>
</div>

<script>


document.getElementById('id_email').addEventListener('input', function(e) {
    this.value = this.value.replace(/\s/g, ''); // Elimina los espacios
});
function OpenDiv3() {
      const emailField = document.getElementById("email");
      const numberField = document.getElementById("number");

      if (emailField.style.display === "none") {
            emailField.style.display = "block";
            numberField.style.display = "none";
      } else {
            emailField.style.display = "none";
            numberField.style.display = "block";
      }
}

function ActiveButton(buttonId) {
      const btn1 = document.getElementById("btn-1");
      const btn2 = document.getElementById("btn-2");

      if (buttonId === "btn-1") {
            btn1.style.border = "solid 1px rgba(255, 255, 255, 0.733)";
            btn2.style.border = "none";
      } else if (buttonId === "btn-2") {
            btn1.style.border = "none";
            btn2.style.border = "solid 1px rgba(255, 255, 255, 0.733)";
      }
}

const Alternar = () => {
      let div = document.getElementById('form-div');
      let div2 = document.getElementById('search-div');


};



</script>
<style>
      .btn-altern button {
            background-color: transparent;
            border: solid 1px rgba(255, 255, 255, 0.733);
            border-radius: 2rem;
            font-weight: bold;
            color: white;
            margin: 0.3rem;
            padding: 0.2rem 0.7rem;
      }


</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>                 