<style>
             #search-client, input {
                  color: white !important;
                  border:0px !important ;
            }
            button {
                  background-color: transparent;
                  border: solid 1px rgba(51, 51, 51, 0.733);
                  border-radius: 2rem; 
                  font-weight: bold;
                  color: white;
            }
      .input 
{
      width: 123px;
      height: 2rem;
      border-radius: 1.2rem;
      border: 0px;
      outline: none;
      color: white !important;
      padding-left: 0.9rem;
      max-width: 10rem;
      
}
.list-options a {
      transition: none !important;
      margin-left: 2.5rem !important;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.45) !important;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.list-options a:hover 
{
      background-image: linear-gradient(120deg, #ffaaaa 0%, #bca1ff 100%);-webkit-background-clip: text; -webkit-text-fill-color: transparent;
      font-weight: bolder;
}

.list-options svg
{
      width: 30px;
}
#divs-btns {
      display: none !important;
  }
#div-search 
{
      width: 100%;
      height: 10rem;
      background: #0000006b;
      color: white;
      border-radius: 1.2rem;
      padding: 1rem;
      position: absolute;
      top: 2.5rem;

      z-index: 1;

}
#div-menu-admin a {
      font-family: "Quicksand", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      line-height: 17px;
  }

  
</style>





<div  class="container-list position-absolute shadow    overflow-auto  mt-2" 
style="border-radius: 1rem ; max-height: 15rem;  width: 30rem;
position: absolute;
background-color: rgb(99, 99, 99);
top: 21%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 17;"> 
</div>    
<div class="d-flex border-0 p-1 text-start w-100 p-2 " style="z-index: 100 !important;">
      <div class="border-0 w-50 d-flex start-0">
            <h6 class="font-primary ms-2 text-session text-white-50 w-100 mt-2" 
                  style="text-shadow: #0000009e 1px 2px 3px; font-size: 14px; ">
            </h6>
      </div>

      <div class='w-50 d-flex justify-content-center border-0  ' style="z-index: 100 !important;">
      
            <input type="search" placeholder="Busqueda " class="bg-black ms-2 text-center  bg-opacity-10  outline-none p-1 rounded-5 text-white  ps-4" 
            style="width: 12.8rem; outline: none !important;  "
            onclick="SearchAvanced('.container-list', '#search-client' )" name="" id="search-client">

            <div id='input-searching-id' class='border-0 d-flex d-none mt-1  align-content-center bg-black bg-opacity-50  flex-wrap '
                  style="border-radius: 2.5rem; height: 2.3rem; width: 10rem; font-size: 12px;" >
                  <input type="search" id="search" class='input ms-4  outline-none  bg-transparent  text-center' placeholder="Buscar Cita" style='outline: none !important;'>
                   <button onclick="CalendarOpen()" class="border-0 d-none bg-transparent text-white d-flex  me-1  align-content-center  flex-wrap ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date-fill p-0 m-0 text-white-50" viewBox="0 0 16 16">
                              <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zm5.402 9.746c.625 0 1.184-.484 1.184-1.18 0-.832-.527-1.23-1.16-1.23-.586 0-1.168.387-1.168 1.21 0 .817.543 1.2 1.144 1.2"/>
                              <path d="M16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-6.664-1.21c-1.11 0-1.656-.767-1.703-1.407h.683c.043.37.387.82 1.051.82.844 0 1.301-.848 1.305-2.164h-.027c-.153.414-.637.79-1.383.79-.852 0-1.676-.61-1.676-1.77 0-1.137.871-1.809 1.797-1.809 1.172 0 1.953.734 1.953 2.668 0 1.805-.742 2.871-2 2.871zm-2.89-5.435v5.332H5.77V8.079h-.012c-.29.156-.883.52-1.258.777V8.16a13 13 0 0 1 1.313-.805h.632z"/>
                            </svg>
                  </button>
            </div>
            <div id="div-search" class=" position-absolute flex-wrap bg-transparent justify-content-center" style=" display: none;z-index: 10;">
                  <div style="max-width: 40rem; height: 20rem; border-radius: 2rem;" class="bg-black p-2 bg-opacity-50 w-100 blur">
                        <div class="w-100 text-center d-flex flex-wrap w-100 justify-center">
                              <h6 class="text-white-50 w-100 ">
                                    Aun no esta listo!
                              </h6>
                              <hr class="mt-2 w-50">
                        </div>
                  </div>
            </div>      
      </div>
      
      <div class="border-0 d-flex justify-content-end w-50 ">
            <!-- <a href="{% url "citas:administrations-citas" %}" class=" me-1 back-arrow" style="margin-top: 2px;">
                  <button class='rounded-circle bg-black bg-opacity-50  border-0 text-white d-flex justify-content-center align-content-center flex-wrap' style='height: 2rem; width: 2rem;'> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left p-0 m-0" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                        </svg> 
                  </button>
                  </a> -->
                  
            <div class="border-0">
                  
                  <a href="{% url "citas:all-plans" %}">   
                        <button onclick="MenuAdmin()"  class=" p-3 pt-1 pb-1 justify-content-center me-2  text-white bg-black bg-opacity-50 border-0  d-flex flex-wrap align-content-center"
                              style="border-radius: 1.5rem; width: 10rem; height: 2.2rem; 
                              font-weight: 400;
                              font-size: 14px;" >
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-calendar-plus-fill d-none p-0 m-0 mt-1 me-1
                              " viewBox="0 0 16 16">
                              <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2M8.5 8.5V10H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V11H6a.5.5 0 0 1 0-1h1.5V8.5a.5.5 0 0 1 1 0"/></svg> Agendar Cita
                        </button>
                  </a> 
            </div>
            
            <!-- <button onclick="MenuAdmin()"  class="bg-black p-2 pt-1 pb-1 bg-opacity-25 text-white blur border-0 me-2 font-primary "
                  style="border-radius: 1.5rem; height: 2rem; ">
                  Menu
            </button>  -->
            <button onclick="MenuAdmin()"  class="bg-black  bg-opacity-50 text-white border-0 rounded-circle  d-flex flex-wrap align-content-center justify-content-center" style="width: 2rem; height: 2.2rem;"> 
                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid-fill p-0 m-0" viewBox="0 0 16 16">
                        <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5z"/>
                      </svg> 
            </button>
      </div>
</div>

<div id="div-menu-admin" class='w-100 vh-50  border-0  ' style='display: none; z-index: 1000 !important;
transition: 0.9s !important'>
      <div  class="position-fixed    end-0 me-2  bg-black bg-opacity-75"  
            style="top: 3.5rem; width: max-content; width: 18rem; border-radius: 2rem;   
           border: 1px solid rgba(128, 128, 128, 0.334);
              z-index: 1000 !important;" > 
              
            <div class=" list-options d-flex bg-black bg-opacity-10 flex-column border-0 p-3 " style="z-index: 1000 !important;    -webkit-backdrop-filter: blur(60px) !important;
            border-radius: 2rem;   
          
            backdrop-filter: blur(60px) !important;">
            <div class="w-100 text-white-50 mt-3 border-0">
                  <h6 class="  p-0 m-0 d-flex align-center flex-wrap font-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-haze2-fill me-1" viewBox="0 0 16 16">
                              <path d="M8.5 2a5 5 0 0 1 4.905 4.027A3 3 0 0 1 13 12H3.5A3.5 3.5 0 0 1 .035 9H5.5a.5.5 0 0 0 0-1H.035a3.5 3.5 0 0 1 3.871-2.977A5 5 0 0 1 8.5 2m-6 8a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zM0 13.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5"/>
                            </svg> Dashboard
                  </h6>
            </div>

            <a href="{% url "citas:dashboard-citas" %}"  class="text-white p-0 pt-1 pb-0">
                  Ir al inicio
            </a>
            <a href="{% url "citas:administrations-citas" %}"  class="text-white p-0 pt-1 pb-0">
                  Punto de venta
            </a>
            <a href="{% url "citas:pack-opciones-create" %}"  class="text-white p-0 pt-1 pb-0">
                  Paquete de Opciones
            </a>

                  {% if permisons.priori >= 3 %}
                  {% include "citas/components/configuracion-nav.html" %}
                  {% endif %}
                  {% if permisons.priori >= 4 %}
                        {% include "citas/components/admin-nav.html" %}
                  {% endif %}
                  {% if permisons.priori >= 2 %}
                        {% include "citas/components/informacion-ventas-nav.html" %}
                         {% include "citas/components/estado-clientes-nav.html" %}
                  {% endif %}
                  {% include "citas/components/novedades.html" %}




            <a  href="{% url 'citas:logout' %}" class="text-white-50 text-center p-0 m-0 pt-4  pe-5 pb-0  "> 
                  Cerrar Session
            </a> 
              
   
      </div>
  
      </div>
</div>





<script>


      document.getElementById("search").addEventListener("focus", Search);
      document.getElementById("search").addEventListener("blur", Search);
      function Search() {
            let div = document.getElementById("div-search");

            if (div.style.display === "none") {
                  div.style.display = "flex";
            } else {
                  div.style.display = "none";
            }
      }

let CalendarOpen = ()=> {
      let calendar_float = document.getElementById("calendar-float");
            if (calendar_float.style.display === "none") {
                  calendar_float.style.display = "flex";
            } else {
                  calendar_float.style.display = "none";
      }
}



document.getElementById("div-menu-admin").addEventListener("click", MenuAdmin);      
function MenuAdmin() {
      let div = document.getElementById("div-menu-admin");
      div.focus()
      if (div.style.display === "none") {
                  div.style.display = "block";

            } else {
                  div.style.display = "none";
            }
      }

      document.addEventListener('keydown', (event) => {
  if (event.key === 'Escape') {
      let div = document.getElementById("div-menu-admin");
            if (div.style.display === "none") {

            } else {
                  MenuAdmin(); // Llama a la función si se presiona la tecla Esc

            }
  }
});


      function openReserver() {
            let reserver = document.getElementById("reserver-id");
            let lista_cita = document.getElementById("cita-list");

            MenuAdmin()


            if (reserver.style.display === "none") {
                  reserver.style.display = "flex";
                  lista_cita.style.display = "none";
            } else {
                        reserver.style.display = "none";
                  lista_cita.style.display = "flex";

            }      }

            var TextSession = (TXT) => {
            let text = document.querySelector('.text-session').innerHTML = TXT;
          }
          document.querySelector('.reloj').classList.add('d-none');
          document.querySelector('.reloj-btn').classList.add('d-none');


          const inputElement = document.getElementById('search-client'); // Selecciona el input (o cualquier otro elemento)

inputElement.addEventListener('focus', () => {
  inputElement.classList.add('p-2', 'shadow'); // Agrega la clase si hay foco
});

inputElement.addEventListener('blur', () => {
  inputElement.classList.remove('p-2', "shadow"); // Elimina la clase si se pierde el foco
});

function SearchAvanced(ContainerSelector, SearchSelector){
      $.ajax({
            url:  '/searching',
            success: function(data) {
                  const container = document.querySelector(ContainerSelector); // Define el contenedor aquí
                  const search = document.querySelector(SearchSelector);
                  search.addEventListener('input', (event) => {
                        const input_value = event.target.value;
                        const filtered_data = data.filter((li) => {
                              return li.name_search.toLowerCase().includes(input_value.toLowerCase());
                        });
                  if (search.value == '') { // o puedes usar if (!search)
                                    container.classList.add('d-none')
                  }
                  else {
                        container.classList.remove('d-none')
                  }
                  container.innerHTML = '';
                  for (const c of filtered_data) {
                        const a = document.createElement('a');
                        a.href = '/customer-sales-list' + '/' + c.id;
                        const d = document.createElement('div');
                        d.classList.add('justify-content-start', 'd-flex', "bg-black", "bg-opacity-10", "mt-1", "rounded-4", "p-2",);
                        d.id = c.id
                        d.textContent = c.name,

                        a.appendChild(d);

                        container.appendChild(a);
                        document.querySelector('.container-list').classList.add("p-2")
                    }

                    // Opcional: Mostrar mensaje si no hay coincidencias
                    if (filtered_data.length === 0) {
                        const messageDiv = document.createElement('div');
                        messageDiv.classList.add("text-white-50", "text-center", "justify-content-center", )
                        messageDiv.textContent = 'No se encontraron resultados' +'  ('+ search.value + ')';
                        container.appendChild(messageDiv);
                    }
                });
            },
            error: function(xhr, status, error) {
                console.error('Error en la solicitud AJAX:', status, error);
            }
      });
}



          </script>