{% extends "citas/base/base.html" %}
{% load static %}
{% block content %}
<section class="vh-100 bg-black bg-opacity-50">
      {% if service %}
      {% include "citas/components/nav.html" %}
      <!-- <div class='d-flex justify-content-center mb-5 mt-3'>
            <a href="{% url "citas:administrations-citas" %}"> 
                  <button class='text-white-50 border-0 bg-transparent font-primary'>
                        Volver a atras
                  </button>      
            </a>
      </div> -->



      <div>

            
      </div>
      {% else %}
      <div class='d-flex justify-content-center mb-5 mt-3'>
            <a href="{% url "citas:dashboard-citas" %}"> 
                  <button class='text-white-50 border-0 bg-transparent font-primary'>
                        Volver a atras
                  </button>      
            </a>
      </div> 
      {% endif %}
      <div>
            <h5 class='font-secundary mb-5  p-1' style="font-size: 14px;">
                  Todos nuestros planes
            </h5>
      </div>
      {% include "citas/plans.html" %}
  
</section>
{% endblock  %}