{% extends "citas/base/base.html" %}
{% block content %}
{% load humanize %}
<style>
      tbody td
      {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.761);
      }
      .cj 
      {
            font-size: 14px;
      }
      .ps312 p
      {
        margin: 0.2rem !important; 
        text-align: center !important;
        
      }
      .ps312 
      {
        font-size: 14px;
      }
      strong
        {
                font-size: 14px;
                font-weight: 500; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
</style>
<section class='  bg-black bg-opacity-50 overflow-scroll '  >
      {% include "citas/components/nav.html" %}
      <div class="   align-content-start" style='height: 100vh;'>
        
            <section data-aos="fade-up" class="d-flex overflow-scroll justify-content-center  flex-wrap " >
           
                <div class="w-100 d-flex justify-content-start flex-wrap">
                    <h2 class="accordion-header w-100" id="headingTwo">
                        <button class="accordion-button collapsed  p-2 rounded-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo3" aria-expanded="true" aria-controls="collapseTwo3" style="width: max-content;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ui-checks-grid me-1" viewBox="0 0 16 16">
                                <path d="M2 10h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1m9-9h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-3a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1m0 9a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1zm0-10a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h3a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM2 9a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h3a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2zm7 2a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-3a2 2 0 0 1-2-2zM0 2a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.354.854a.5.5 0 1 0-.708-.708L3 3.793l-.646-.647a.5.5 0 1 0-.708.708l1 1a.5.5 0 0 0 .708 0z"/>
                              </svg> Control de caja
                        </button>
                      </h2>
                      <p class="text-white-50 p-0 ps-2" style="font-size: 12px;">
                        Ayuda a garantizar que el dinero en efectivo y las transacciones coincidan con las ventas registradas. 
                        </p>
                </div>


                <div class="card-body d-flex w-100  overflow-scroll">
                    <div class="w-100 d-flex justify-content-start  ">
                            {% if cash_register.status == 'open' %}
                            <div class='text-start me-3 d-flex ps312'>
                                    <p class="p-0 m-0  bg-white bg-opacity-10 rounded-4 p-1" style="width: 11rem; height: max-content;">
                                        <strong> Caja #{{ cash_register.number_caja }}</strong> 
                                        <span class="text-white-50">
                                            : {{ cash_register.get_status_display }}</span>
                                    </p>
                                    <p class="p-0 m-0  bg-white bg-opacity-10 rounded-4 p-1" style="width: 15rem; height: max-content;">
                                        <strong>Balance de Aper..</strong> 
                                        <span class="text-white-50"> $ {{ cash_register.opening_balance|intcomma }}</span> 
                                    </p>
                                    <p class="p-0 m-0  ps-4 pe-4 bg-white bg-opacity-10 rounded-4 p-1" style="width: max-content; height: max-content;">
                                        <strong>Apertura:</strong>  
                                        <span class="text-white-50 " style="text-transform: capitalize;"> {{ cash_register.opened_by }} {{ cash_register.opened_at|date:"d/m/Y" }} 
                                        </span> 
                                    </p>
                                    <p class="p-0 m-0  bg-white bg-opacity-10 rounded-4 p-1" style="width: 11rem; height: max-content;">
                                        <strong>Ingresos</strong>
                                        <span class="text-white-50"> ${{count_ingresos|intcomma}} </span>
                                    </p>
                                    <p class="p-0 m-0  bg-white bg-opacity-10 rounded-4 p-1" style="width: 9rem; height: max-content;">
                                        <strong>Gastos</strong>
                                        <span class="text-white-50"> ${{count_gastos}} </span>
                                    </p>
                                    <!-- <p class="p-0 m-0  bg-white bg-opacity-10 rounded-4 p-1" style="width: 14rem; height: max-content;">
                                        <strong>Balance actual</strong>
                                        <span class="text-white-50">  ${{count_ingresos|intcomma}}</span>
                                    </p> -->
                                    <p class="p-0 m-0  bg-white bg-opacity-10 rounded-4 p-1" 
                                        style="width: 10rem; height: max-content;">
                                        <strong>Balance</strong>
                                        <span class="text-white-50">  ${{dinero_en_caja|intcomma}}</span>
                                    </p>
                  
                            
                            </div>
                        {% else %}
                            <div style='width:90%; font-size: 14px;' class='text-start   p-3 ms-2 ps-4 bg-white bg-opacity-10 rounded-5 '>
                                <div class="form-group" style='width: 100%;'>
                                    <label for="opening_balance">Informacion de anterior caja</label>
                                    <p class='text-white-50' style='font-size: 12px; line-height: 14px;'>
                                         Información de la caja anterior para mantener el control y continuidad en tus operaciones, no es necesario agregar el monto de apertura anterior, ya que el sistema lo hace automaticamente.
                                    </p>
                                </div>
                                {%  if  cash_register_last.get_status_display %} 
                                <h6 class="card-title p-0  m-0 mt-3 "> 
                                    <strong> Caja </strong>
                                        <span class="text-white-50" style="font-size: 14px;"> #{{ cash_register_last.number_caja }}
                                                {{ cash_register_last.get_status_display }}
                                        </span>
                                </h6>
                                <p class="p-0 m-0"> 
                                    <strong>Cerrado por</strong>
                                    <span class="text-white-50 text-capitalize" >  {{ cash_register_last.closed_by }}  </span>
                                    </p>
                                <p class="p-0 m-0"> 
                                    <strong>Balance de apertura</strong> 
                                    <span class="text-white-50"> ${{ cash_register_last.opening_balance|intcomma }}</span>
                                    </p>
                                <p class="p-0 m-0"> 
                                    <strong>Balance de cierre</strong>
                                    <span class="text-white-50">${{ cash_register_last.closing_balance|intcomma }}</span> 
                                </p>
                
                                
                                <p>
                                        <strong > Ultimo cierre 
                                            <span class='text-white-50'>        
                                                {{cash_register_last.closed_at}}
                                            </span>
                                        </strong> 
                                    </p>
                                    {% endif %}
                            
                            </div>

                        <div class=' w-5 bg-white bg-opacity-10 p-3  rounded-5 mt-0 ms-1 '>
                            <form method="post"  class=''>
                                {% csrf_token %}
                                <div class="form-group" style='width: 300px;'>
                                    <label for="opening_balance">Monto de apertura</label>
                                    <p class='text-white-50' style='font-size: 12px; line-height: 14px;'>
                                        ¿Te gustaría agregar un monto adicional?, ese monto se sumara al total de caja, si no dispone de ese monto simplemente deje como esta y continue
                                    </p>
                                </div>
                                <div class="d-flex " style="width: 17rem;">
                                    <input type="number" value="0" class=" form-control w-100 text-white bg-white bg-opacity-10 rounded-4 border-0"  name="opening_balance" step="0.01" required > 
                                    <button type="submit" name="open_cash" class="btn bg-white bg-opacity-10 ps-4 pe-4 rounded-4 ms-1 text-white" 
                                        style="font-size: 14px;" >Abrir 
                                    </button>
                                </div>
                            </form>
                        </div>
                        {% endif %}
                    </div>

            
                </div>
                {% if cash_register.status == 'open' %}
                <section class=' bg-white bg-opacity-10 p-3 rounded-5 m-2 mt-0 w-100 overflow-auto'          
                style="
                height: calc(100vh - 15rem);
                 ">
                    <table class="w-100">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Fecha</th>
                                <th>Cliente</th>
                                <th>Descripción</th>
                                <th>Ingreso</th>
                                <th>Gasto</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in records %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td> {{ record.date|date:"d/m/Y" }} {{ record.date|date:"H:i" }}</td>
                                <td>{{ record.name }}</td>
                                <td>{{ record.description|intcomma }}</td>
                                <td> 
                                    {% if record.ingreso %}
                                        ${{ record.ingreso|intcomma }}
                                        {% else %}
                                        {% comment %} $0.00 {% endcomment %}
                                    {% endif %}
                                
                                </td>
                                <td>
                                    {% if record.gasto %}
                                        ${{ record.gasto|intcomma }}
                                    {% endif %}
                                
                                </td>

                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6" class="text-center pt-4">
                                    <strong>No hay registros financieros disponibles en esta caja</strong>
                                    <p>Se muestra este aviso ya que no hay datos financieros disponibles para mostrar en la caja actual</p>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
                {% endif %}
                                    <div class="  position-absolute bottom-0 start-0 ms-2"  style="width: max-content;">

                        {% if cash_register.status == 'open' %}
                        <form method="post" class="mt-0 w-100">
                                {% csrf_token %}
                                <div class="form-group p" style=' '>
                  
                                <input type="number" class="form-control d-none w-100 text-white bg-white bg-opacity-10 rounded-4 border-0" name="closing_balance"   step="0.01" value="{{count_ingresos}}" required style="">
                            </div>
                            <button type="submit" name="close_cash" class="btn me-1 mt-1 bg-danger bg-opacity-25 rounded-5  text-white ps-3 pe-3" 
                            style="font-size: 12px; font-weight: bold;"> 
                                Cerrar 
                            </button>
                        </form>
                        
                        {% else %}

                        {% endif %}
                    </div>
                <div class="d-flex  w-100 justify-content-end  p-2 pb-0">

                    <style>
                    .hidden {
                            display: none;
                    }
                    </style>
        {% if cash_register.status == 'open' %}
                    <form action="" method="post" class="d-flex">

                        <form method="POST" action="">
                            {% csrf_token %}
                            
                            
                      

                            <select id="filter_type" class="bg-transparent border-0 text-white"
                            style="font-weight: bold; outline: none !important;"  name="filter_type" onchange="toggleInputs()"> 
                                <option value="" selected disabled>Seleccionar filtro</option>
                                {% if only_year %}
                                <option value="only_year" selected>Año específico</option>
                                <option value="mes" >Mes específico</option>
                                {% else %}
                                <!-- <option value="only_year" >Año específico</option> -->
                                <option value="mes" selected>Mes específico</option>
                                {% endif %}
                                {% comment %} <option value="mes_rango">Rango de meses</option> {% endcomment %}
                                {% comment %} <option value="anio_rango">Rango de años</option> {% endcomment %}
                            </select>
                    
                            <!-- Input para un mes -->
                        
                        <div id="mes_input"     {% if only_year %}  
                         class=" hidden ms-1 me-1"  {% else %}    class="  ms-1    me-1"   {% endif %}  style="height: 2rem;">
                           
                         
                                <select id="{{year}}" class=" filter_type_year  bg-transparent  m-1 border-0 text-white" onchange="ClickbtbFilter()" 
                                style="font-weight: bold; outline: none !important;"   name="year" >
                                    <option value="2024" >2024</option>
                                    <option value="2025" >2025</option>
                                    <option value="2026" >2026</option>
                                    <option value="2027" >2027</option>
                                    <option value="2028" >2028</option>
                                </select>
                                <select id="{{mes}}" class="bg-transparent filter_type_mes m-1 border-0 text-white"
                                style="font-weight: bold; outline: none !important;"   name="mes" onchange="ClickbtbFilter()" >
                                    <option value="1" >Enero</option>
                                    <option value="2" >Febrero</option>
                                    <option value="3" >Marzo</option>
                                    <option value="4" >Abril</option>
                                    <option value="5" >Mayo</option>
                                    <option value="6" >Junio</option>
                                    <option value="7" >Julio</option>
                                    <option value="8" >Agosto</option>
                                    <option value="9" >Septiembre</option>
                                    <option value="10" >Octubre</option>
                                    <option value="11" >Noviembre</option>
                                    <option value="12" >Diciembre</option>
                            </div>

                             <div id="anio_input" 
                             {% if only_year %}  
                           {% else %}    class="hidden"  {% endif %} >

                                <select id="{{only_year}}" class="  filter_type_only_year bg-transparent m-1 border-0 text-white" onchange="ClickbtbFilter()" 
                                style="font-weight: bold; outline: none !important;"   name="only_year" >
                                {% if only_year %}
                                    <option value="2024" > 
                                             ({{only_year}})
                                            </option>
                                        {% endif %}
                                    <option  >...</option>
                                    <option value="2024" >2024</option>
                                    <option value="2025" >2025</option>
                                    <option value="2026" >2026</option>
                                    <option value="2027" >2027</option>
                                    <option value="2028" >2028</option>
                                </select>
                            </div> 
                

                            {% endif %}
                            <script>
                                document.addEventListener('DOMContentLoaded', () => {
                                    // Obtener la fecha actual
                                    const now = new Date();
                                    const currentYear = now.getFullYear();
                                    const currentMonth = now.getMonth() + 1; // Los meses en JavaScript van de 0 a 11


                           

                                    const yearSelect = document.querySelector('.filter_type_year');
                                    if (yearSelect) {
                                        const monthOption = yearSelect.querySelector(`option[value="${document.querySelector('.filter_type_year').id}"]`);
                                        if (monthOption) {
                                            monthOption.selected = true;
                                        }
                                    }
                  
                            
                                    // Seleccionar el mes actual
                                    const monthSelect = document.querySelector('.filter_type_mes');
                                    if (monthSelect) {
                                        const monthOption = monthSelect.querySelector(`option[value="${document.querySelector('.filter_type_mes').id}"]`);
                                        if (monthOption) {
                                            monthOption.selected = true;
                                        }
                                    }
                                });
                            </script>
                    
                            <!-- Inputs para rango de meses -->
                            <div id="mes_rango_inputs" class="hidden">
                                <label for="mes1">Desde:</label>
                                <input type="month" id="mes1" name="mes1">
                                <label for="mes2">Hasta:</label>
                                <input type="month" id="mes2" name="mes2">
                            </div>
                    
                            <!-- Input para un año -->
                   
                    
                            <!-- Inputs para rango de años -->
                            <div id="anio_rango_inputs" class="hidden">
                                <label for="anio1">Desde:</label>
                                <input type="number" id="anio1" name="anual1" placeholder="Ejemplo: 2020" min="2000" max="2100">
                                <label for="anio2">Hasta:</label>
                                <input type="number" id="anio2" name="anual2" placeholder="Ejemplo: 2024" min="2000" max="2100">
                            </div>
                    
                            <!-- Botón para enviar -->
                            <button id="btn-filter" class="d-none" type="submit">Filtrar</button>
                        </form>
                    
                        <script>

                            function ClickbtbFilter(){
                                document.getElementById('btn-filter').click()
                            }

                            function toggleInputs() {
                                // Ocultar todos los inputs
                                document.getElementById('mes_input').classList.add('hidden');
                                document.getElementById('mes_rango_inputs').classList.add('hidden');
                                document.getElementById('anio_input').classList.add('hidden');
                                document.getElementById('anio_rango_inputs').classList.add('hidden');
                    
                                // Mostrar el input correspondiente
                                const filterType = document.getElementById('filter_type').value;
                                if (filterType === 'mes') {
                                    document.getElementById('mes_input').classList.remove('hidden');
                                } else if (filterType === 'mes_rango') {
                                    document.getElementById('mes_rango_inputs').classList.remove('hidden');
                                } else if (filterType === 'only_year') {
                                    document.getElementById('anio_input').classList.remove('hidden');
                                } else if (filterType === 'anio_rango') {
                                    document.getElementById('anio_rango_inputs').classList.remove('hidden');
                                }
                            }
                        </script>
                    
                        <!-- <select class="form-select select-1  bg-white bg-opacity-10 text-white border-0 rounded-3 me-2" aria-label="Seleccionar mes" style="width: max-content;">
                            {% for month in months %}
                                <option value="{{ month.value }}" {% if month.value == current_month %}selected{% endif %}>
                                {{ month.name }}
                                </option>
                            {% endfor %}
                        </select> -->

                        <!-- <button class="btn text-white rounded-5  bg-white bg-opacity-10 me-2"> 
                            Filtrar
                        </button> -->
                    </form>
                </div>
  
                <div data-aos="fade-up" class="accordion-item d-none m-1 mt-0 w-100 ">
                        <h2 class="accordion-header" id="headingTwo">
                          <button class="accordion-button collapsed  p-2 rounded-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo3" aria-expanded="true" aria-controls="collapseTwo3" style="width: max-content;">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ui-checks m-1" viewBox="0 0 16 16">
                                    <path d="M7 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zM2 1a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm0 8a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2zm.854-3.646a.5.5 0 0 1-.708 0l-1-1a.5.5 0 1 1 .708-.708l.646.647 1.646-1.647a.5.5 0 1 1 .708.708zm0 8a.5.5 0 0 1-.708 0l-1-1a.5.5 0 0 1 .708-.708l.646.647 1.646-1.647a.5.5 0 0 1 .708.708zM7 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
                                  </svg>   Historial de caja
                          </button>
                        </h2>
                        <p class="text-white-50 p-0 ps-2" style="font-size: 12px;  line-height: 8px">
                            Garantiza un registro claro y accesible de todas las operaciones para evitar fraudes o errores.
                          </p>
                        <div id="collapseTwo3"  class="w-100 accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                              <div   style="height: 20rem;" class="   bg-white bg-opacity-10 rounded-4 p-3 m-1 overflow-scroll " >
                                    <!-- Tabla de registros de caja -->
                                    <table class=" w-100">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Apertura</th>
                                                <th>Cierre</th>
                                                <th>Abierto Por</th>
                                                <th>Cerrado Por</th>
                                                <th>Balance de Apertura</th>
                                                <th>Balance de Cierre</th>
                                                <th>Estado</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for cash_r in cash_registers %}
                                            <tr>
                                                <td>{{ cash_r.id }}</td>
                                                <td>{{ cash_r.opened_at|date:"d/m/Y H:i" }}</td>
                                                <td>{% if cash_r.closed_at %}{{ cash_r.closed_at|date:"d/m/Y H:i" }}{% else %}N/A{% endif %}</td>
                                                <td class='text-capitalize'>{{ cash_r.opened_by.username }}</td>
                                                <td class='text-capitalize'>{% if cash_r.closed_by %}{{ cash_r.closed_by.username }}{% else %}N/A{% endif %}</td>
                                                <td>RD$ {{ cash_r.opening_balance|intcomma}}</td>
                                                <td>{% if cash_r.closing_balance %}RD$ {{ cash_r.closing_balance|intcomma }}{% else %}N/A{% endif %}</td>
                                                <td>{{ cash_r.get_status_display }}</td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                    <td colspan="8" class="text-center pt-4">
                                                            <strong>
                                                                No hay registros de caja disponibles
                                                            </strong>
                                                    </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                          </div>
                        </div>
                  </div>
            </section>
            
            <div class="rounded-1 m-1 p-2   " >

     

                  <!-- Mostrar información de la caja -->
                  <section  class="w-100  d-flex ">
                      <div class="card bg-transparent   border-0 cj w-100 text-white  " 
                          style=" border-radius: 1rem;">
                        
                      </div>
                  </section>
            </div>
      </div>
</section>

<script>
      TextSession('Control de caja')
      window.onload = function() {
            // Selecciona todos los elementos con la clase 'collapsed'
            // var collapsedElements = document.querySelectorAll('.collapsed');
            
            // Itera sobre los elementos y simula un clic en cada uno
            collapsedElements.forEach(function(element) {
                element.click();
            });
        };

</script>

{% endblock  %}