{% extends "citas/base/base.html" %}
{% block content %}
      <style>
            .form-control {
                  border-radius: 1.5rem; 
                  
            }
      .background-containers {
        position: relative;
        width: 100%;
        height: 45vh; /* Ajusta la altura según sea necesario */
        /* background-image: url('https://th.bing.com/th/id/OIP.IqjnLkysQHMtDIqzbEqAnAHaLG?w=634&h=950&rs=1&pid=ImgDetMain'); */
        background-size: cover;
        background-position: center;
    }

    .content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.068), rgb(0, 0, 0));
        color: white; /* Cambia el color del texto según sea necesario */
    }
    #btn-send 
    {
      display: block !important;
    }
    .btn-atras 
    {
      display: none !important;
    }



      </style>

<main>
      
</main>


<section class="vh-100">
      <form action="" method="post" id="form-customer">
            {% csrf_token %}
            <div class="swiper-container ">
                  <div class="swiper-wrapper">
                  <div class="swiper-slide">
                        <section class="w-100">
                              {% include "citas/components/form-basic.html" %}
                        </section>  
                  </div>
                  <div class="swiper-slide">
                        <section class="p-1" id="sliders">
                              {% include "citas/components/confirmation.html" %}
                        </section>
                  </div>
                  <div class="swiper-slide ">
                        {% include "citas/components/calendary.html" %}
                  </div>
                  {{form.plan_choice}}
                  </div>
                  <!-- Botones de navegación (opcional) -->
                  <div class="swiper-button-prev d-none"></div>
                  <div class="swiper-button-next d-none"></div>
            </div>
      </form>
      
</section>

  <!-- Swiper CSS -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <!-- Inicialización del Swiper -->
  <script>
            document.addEventListener("DOMContentLoaded", function () {
            var swiper = new Swiper('.swiper-container', {
                  effect: 'cube',
                  grabCursor: true,
                  cubeEffect: {
                        shadow: false,
                        slideShadows: false,
                        shadowOffset: 20,
                        shadowScale: 0.94,
                  },
                  loop: true,
                  navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                  },
            });
            });

            document.addEventListener("DOMContentLoaded", function () {
                  const url = window.location.href;
                  const regex = /\/create-customer\/(\d+)/;
                  const match = url.match(regex);
                  if (match) {
                        const number = match[1];
                        console.log("Número extraído de la URL:", number);
                         document.getElementById('id_plan_choice').value = number;
                  } else {
                         console.log("No se encontró un número en la URL.");
                  }
                  // Set the number to the input field
            });

      document.getElementById('btn-send').addEventListener('click', function() {
            document.getElementById('form-customer').submit();
      });
  </script>
  
  <style>
      #id_plan_choice  {
            display: none !important;
      }
      #divs-btns 
      {
            display: none;
      }
      .swiper-container {
          width: 100%;
          height: 400px; /* Ajusta la altura según sea necesario */
      }
      .swiper-slide {
          /* Centra el contenido verticalmente */
      }
      /* Estilos adicionales para el efecto cube */
      .swiper-slide-active {
          transition: transform 3s ease-out;
          transform: translateY(0);
      }
      .swiper-slide-prev,
      .swiper-slide-next {
          transition: transform 3s ease-out;
          transform: translateY(-100%);
      }
  </style>
  

      <script>
            function OpenDiv() {
                  var number = document.getElementById("number");
                  if (number.style.display === "none") {
                        number.style.display = "block";
                  } else {
                        number.style.display = "none";
                  }
            }

function NumbersFomat(value) {
// Elimina todos los caracteres no numéricos
var number = value.replace(/\D/g, '');
// Agrega guiones después de los primeros 3 dígitos y los siguientes 7 dígitos
var N = number.replace(/(\d{3})(\d{3})(\d{1})/, '$1-$2-$3');
return N;
  }
  document.getElementById('id_number').addEventListener('input', function(e) {
            let n = document.getElementById('id_number')
            n.value = n.value.substring(0,12);
            e.target.value = NumbersFomat(e.target.value);
  });

  let  Next = ()=> {
                  document.querySelector('.swiper-button-next').click();
                  if(document.getElementById('last')) {
                        document.getElementById('last').classList.remove('d-none');
                  }
            }
            let  Last = ()=> {
                  document.querySelector('.swiper-button-prev').click();
            }

      </script>
{% endblock  %}