{% extends "citas/base/base.html" %}
{% block content %}
{% load humanize %}

<style>
      .form-control {
            background-color: rgba(255, 255, 255, 0.5);
            color: white;
            border: 0px solid rgba(95, 95, 95, 0.5);
            border-radius: 1.3rem;
            height: 3.4rem;
            margin-top: 0.8rem;
      }
      #id_description
      {
            height: 10rem;
      }
      .post-form .form-control label
      {
            display: none;
      }
      #id_ingreso, #id_name
      {
            display: none;
      }
      .form-check 
      {
            transition: 0.2s !important;
      }
      #id_description, #id_name
      {
            color: white !important;
            border: 0px !important;
      }
      #id_gasto
      {
            width: 100%;
            height: 3.4rem;
            margin-top: 23px;
            
      }
      tr 
      {
            font-size: 14px !important;
      }
      #id_description 
      {
            height: 5rem;
      }
      td
      {
            color: rgb(161, 161, 161); font-size: 14px;
      }
      
</style>
<section class="vh-100  bg-black bg-opacity-50 overflow-scroll">  
      {% include "citas/components/nav.html" %}     
      <div class="ms-3 mt-5">
            <h6>
                  Listado de gastos o agregar
            </h6>
            <p class="text-white-50" style="font-size: 12px;">
                  Aquí puedes ver los gastos que has registrado o agregar uno nuevo.
            </p>
      </div>
      <div class="d-flex ms-2">
            <p class="bg-white bg-opacity-10 p-1 ps-4 pe-4 rounded-5" style="width: max-content;">
                  <strong style="font-weight: 400;  font-size: 13px;">Gastos fijos:</strong> ${{gastos_recurrentes_total|intcomma}}
            </p>
             <p class="bg-white bg-opacity-10 rounded-5 ms-1 p-1 ps-4 pe-4" style="width: max-content;">
                  <strong style="font-weight: 400;  font-size: 13px;">Gastos corrientes:</strong> ${{gastos_otros_total|intcomma}}
            </p> 
            <p class="bg-white bg-opacity-10 rounded-5 ms-1 p-1 ps-4 pe-4" style="width: max-content;">
                  <strong style="font-weight: 400; font-size: 13px;" class="">Total de gastos: </strong> ${{gastos_total|intcomma}}
            </p>
      </div>
      <div  data-aos="fade-up" class="m-2 mt-0 rounded-5  d-flex justify-content-center bg-white bg-opacity-10   pt-1" style="min-height: 70vh; ">
        
            <div class=" mt-1  p-2 m-2 rounded-5 bg-black bg-opacity-25 w-100">
                  <section class=" h-50 overflow-scroll  rounded-4 d-none p-2">
                        <table class="w-100">
                              {% if gastos_recurrentes %}
                              <thead>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Descripción</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Fecha </th>
                                    <!-- <th scope="col"> Opciones</th> -->
                              </tr>
                        </thead>
      
                        <tbody>
                                    <style>
                                          .class1 
                                          {
                                                /* background-color: rgba(0, 0, 0, 0.36) !important; */
                                                /* color: rgb(176, 176, 176); */
                                          }
                                          .class2 
                                          {
                                                /* background-color: #5858582d !important; */
                                          }
                                   
                                    </style>
                                    <div class="bgd">
                                        
                                          <td><strong style="font-weight: 400;">Gastos fijos recurrentes  </strong></td>
                                          {% for g in gastos_recurrentes %}
                                                <tr class="class1">
                                                      <td> N#{{g.id}} </td>
                                                      <td> {{g.name}} </td>
                                                      <td> {{g.description}} </td>
                                                      <td> ${{g.gasto|intcomma}} </td>
                                                      <td> 
                                                            {% if g.gasto_recurrente %}
                                                            {{g.renovacion_mensual_gasto_recurrente}} {{fecha}} 
                                                            {% else %}
                                                            {{ g.created|date:"d/m/Y" }}
                                                            {% endif %}
                                                      </td>
                                                      <td>
                                                            <!-- {% if g.gasto_recurrente %}
                                                            Si
                                                            {% else %}
                                                            No
                                                            {% endif %} -->
                                                      </td>
                                                </tr>
                                         
                                         
                                          {% endfor %}
                                          {% else %}
                                          <div style="font-weight: 500;"  class="w-100 text-start">No hay gastos recurrentes registrados
                                                <p class="text-white-50" style="font-size: 12px;">
                                                      Estos gastos constantes que no varían con el nivel de actividad, como alquiler, salarios, y seguros.
                                                </p>
                                          </div>
                                    {% endif %}
                                    </div>
                        </tbody>
                         </table>
                  </section>
                  <section class=" rounded-5 p-2 overflow-scroll">
                        <table class="w-100">
                              {% if gastos_otros %}
                              <thead>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Descripción</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Fecha </th>
                                    <!-- <th scope="col">Opciones</th> -->
                              </tr>
                        </thead>
                        <tbody>
                              <td><strong style="font-weight: 400;">Gastos corrientes</strong></td>
                              {% for g in gastos_otros %}
                                  
                                  <tr class="class2">
                                        <td> N#{{g.id}} </td>
                                        <td> {{g.name}} </td>
                                        <td> {{g.description}} </td>
                                        <td> ${{g.gasto|intcomma}} </td>
                                        <td> 
                                              {% if g.gasto_recurrente %}
                                              {{g.renovacion_mensual_gasto_recurrente}} {{fecha}} 
                                              {% else %}
                                              {{ g.created|date:"d/m/Y" }}
                                              {% endif %}
                                        </td>
                                        <td>
                                              <!-- {% if g.gasto_recurrente %}
                                              Si
                                              {% else %}
                                              No
                                              {% endif %} -->
                                        </td>
                                  </tr>

                              {% endfor %}
                            {% else %}
                            <div style="font-weight: 500;"  class="w-100 text-start">
                              No hay gastos variables registrados
                              <p class="text-white-50" style="font-size: 12px;">
                                    Cambian en función de la producción o ventas, como materias primas, comisiones, y costos de transporte.
                              </p>
                            </div>
                      {% endif %}
                  </tbody>
            </table>
                  </section>
            </div>

            <form action="" method="post" class="post-form  p-2 rounded-5" style="width: 40rem;">
              
                  <span  style="font-weight: 500;">
                        Crear un nuevo gasto
                  </span>
                  <section class="d-flex ">
                        <div class="mb-1 text-white me-1 ">
                              
                              <label for="business_expense_type" class="f text-white" style="font-size: 12px;">Tipo de Gasto:</label>
                              <select class=" bg-black text-white w-100  border-0  p-3 bg-opacity-25"  style="outline: none; border-radius: 1.7rem;" id="business_expense_type" name="business_expense_type">
                                      <option class="text-white" value="Otro">Otro</option>
                                      <option class="text-white" value="Renta">Renta</option>
                                      <option class="text-white" value="Servicios">Servicios </option>
                                      <option class="text-white" value="Salarios">Salarios</option>
                                      <option class="text-white" value="Productos"> Productos</option>
                                      <option class="text-white" value="Suministros">Suministros</option>
                                      <option class="text-white" value="Marketing">Marketing</option>
                                      <option class="text-white" value="Educación">Educación</option>
                                    <option class="text-white" value="Transporte">Transporte</option>
                                    <option class="text-white" value="Mantenimiento">Mantenimiento</option>
                                    <option class="text-white" value="Impuestos">Impuestos</option>
                                    <option class="text-white" value="Tecnología">Tecnología</option>
                                    <option class="text-white" value="Entretenimiento">Entretenimiento</option>
                                    <option class="text-white" value="Donaciones">Donaciones</option>
                                    <option class="text-white" value="Capacitación">Capacitación</option>
                              </select>
                        </div>
      
                        {{ form.gasto}}
                  </section>

                  {% csrf_token %}
                 <div class="mb-1 pb-2">
                  {{ form.name }}
                 </div>
                  {{ form.description}}
                  <style>
                        #id_description
                        {
                              height: 10rem; border-radius: 1.8rem;
                              padding-left: 1rem; padding-top: 1rem; 
                              outline: none;
                        }
                        #id_gasto 
                        {
                              border-radius: 1.7rem !important; 
                              padding-left: 1rem;outline: none;
                        }
                  </style>
                  <div class="form-check form-check-inline d-none ">
                        <input class="form-check-input" type="radio" name="financial_type" id="expense" value="expense" checked>
                        <label class="form-check-label text-white" for="expense">Gasto</label>
                  </div>
                  <div class="">
                        {{ form.ingreso}}
           
                  </div>

                  <span class='d-none'>
                        <label for="fixed_expense" class="f text-white" style="font-size: 12px;"> ¿Es un gasto recurrente? </label>
                  </span>
                  <div class="form-check form-check-inline ms-3 d-none">
                        <input class="form-check-input" type="radio" name="fixed_expense" id="fixed_expense_yes" value="yes">
                        <label class="form-check-label text-white" for="fixed_expense_yes">Sí</label>
                  </div>
                  <div class="form-check form-check-inline d-none">
                        <input class="form-check-input" type="radio" name="fixed_expense" id="fixed_expense_no" value="no" checked>
                        <label class="form-check-label text-white" for="fixed_expense_no">No</label>
                  </div>
                  <p class="text-white-50 mt-2 d-none " style="font-size: 14px;">Un gasto fijo es un gasto recurrente que se mantiene constante durante un período de tiempo, como el alquiler o los servicios públicos.</p>
                  <div id="detail" class="d-none">
                        <label class="w-100" for="renovacion_mensual_gasto_recurrente" style="font-size: 12px;">
                              Selecciona el dia en que se renovara este gasto mensual 
                        </label> 
                        <p class="text-white-50 mt-2 " style="font-size: 14px;">
                              Por ejemplo, si el gasto se aplica los dias 15 del mes este se renovara el dia 15 de cada mes.
                        </p>
                        {{form.renovacion_mensual_gasto_recurrente}}
                        <style>
                              #id_renovacion_mensual_gasto_recurrente
                              {
                                    width:6rem;
                                    
                              }
                        </style>
                  </div>      
                  <div class="w-100 d-flex justify-content-end">
                        <a href="{% url "citas:caja" %}" style="margin-top: 13px;" class=" me-3 text-white-50"> 
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left-circle-fill mt-1" viewBox="0 0 16 16">
                                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                                  </svg>      
                        </a>
                        <button type="submit" class="btn bg-black bg-opacity-25 text-white mt-2 rounded-5" style="font-weight: bold;">Guardar</button>
                  </div>
            </form>
      </div>
    
</section>
<script>
        TextSession('Listado de gastos o agregar');

      function toggleDetail() {
            if (document.getElementById('fixed_expense_yes').checked) {
                  document.getElementById('detail').classList.remove('d-none');
            } else {
                  document.getElementById('detail').classList.add('d-none');
            }
      }

      document.getElementById('fixed_expense_yes').addEventListener('change', toggleDetail);
      document.getElementById('fixed_expense_no').addEventListener('change', toggleDetail);

      document.addEventListener('DOMContentLoaded', function() {
            toggleDetail();
      });

      document.getElementById('business_expense_type').addEventListener('change', function() {
            const selectedValue = this.value;
            document.getElementById('id_name').value = selectedValue;
      });

      document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('id_name').value = 'Otro';
      });

</script>
{% endblock %}
